name: Build and Deploy

on:
  push:
    branches: ["main"]

jobs:
  build-and-deploy:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Login to GHCR
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build backend container
      run: |
        docker build -f backend/Containerfile -t ghcr.io/csingfe/chris-guest-argo/backend:latest ./backend

    - name: Build frontend container
      run: |
        docker build -f frontend/Containerfile -t ghcr.io/csingfe/chris-guest-argo/frontend:latest ./frontend

    - name: Push containers
      run: |
        docker push ghcr.io/csingfe/chris-guest-argo/backend:latest
        docker push ghcr.io/csingfe/chris-guest-argo/frontend:latest
